### Data Analysis Project -- Indian Start-up Funding Analysis

### BUSINESS UNDERSTANDING

### Ideas, creativity, and execution are essential for a start-up to flourish. But are they enough? Investors provide start-ups and other entrepreneurial ventures with the capital---popularly known as "funding"---to think big, grow rich, and leave a lasting impact. 

### In this project, you are going to analyse funding received by start-ups in India from 2018 to 2021. You will find the data for each year of funding in a separate csv file in the dataset provided. 

### In these files you'll find the start-ups' details, the funding amounts received, and the investors' information.

### Scenario

### Your team is trying to venture into the Indian start-up ecosystem. As the data expert of the team you are to investigate the ecosystem and propose the best course of action.

### Instructions

### Your task is to develop a unique story from this dataset by stating and testing a hypothesis, 

### asking questions, perform analysis and share insights with appropriate visualisations.

### So as part of the project you are to:

### 1) Ask questions

### 2) Develop hypothesis

### 3) Process the data

### 4) Analyse the data

### 5) Visualise the data

### UNDERSTANDING YOUR DATA

### INPORTING LIBRARIES

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import plotly.express as px
import plotly.graph_objs as go

import seaborn as sns

from scipy import stats
import statistics as stat

from sklearn.impute import SimpleImputer

### LOADING DATASETS

In [2]:
startup_2018= pd.read_csv(r'C:\Users\User\Desktop\AZUBI AFRICA\Projects\LP 1\startup_funding2018.csv')

startup_2018

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

In [3]:
startup_2019 = pd.read_csv(r'C:\Users\User\Desktop\AZUBI AFRICA\Projects\LP 1\startup_funding2019.csv')

startup_2020 = pd.read_csv(r'C:\Users\User\Desktop\AZUBI AFRICA\Projects\LP 1\startup_funding2020.csv')

startup_2021 = pd.read_csv(r'C:\Users\User\Desktop\AZUBI AFRICA\Projects\LP 1\startup_funding2021.csv')

startup_2019

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN
...,...,...,...,...,...,...,...,...,...
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","$693,000,000",NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"$5,000,000",Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN

In [4]:
startup_2020

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,Unnamed: 9
0,Aqgromalin,2019,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,"$200,000",NaN,NaN
1,Krayonnz,2019,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,"$100,000",Pre-seed,NaN
2,PadCare Labs,2018,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,Undisclosed,Pre-seed,NaN
3,NCOME,2020,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital","$400,000",NaN,NaN
4,Gramophone,2016,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge","$340,000",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures","$1,500,000",NaN,NaN
1051,EpiFi,NaN,NaN,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital","$13,200,000",Seed Round,NaN
1052,Purplle,2012,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,"$8,000,000",NaN,NaN
1053,Shuttl,2015,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,"$8,043,000",Series C,NaN
1054,Pando,2017,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,"$9,000,000",Series A,NaN

In [5]:
startup_2021

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",NaN
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed
...,...,...,...,...,...,...,...,...,...
1204,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A
1205,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,$20000000,Series D
1206,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C
1207,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B
1208,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A

### STATING THE HYPOTHESIS

### HO (Null): Sector of service is not dependent on the amount raised.

### H1(Alternative): Sector of service is dependent on the amount raised.

### STATING THE HYPOTHESIS

### HO (Null): Sector of service is not dependent on the amount raised.

### H1(Alternative): Sector of service is dependent on the amount raised.

### ANALYTICAL QUESTIONS

### 1) What is the total amount raised by all the investors

### 2) Which sector has the highest amount invested.

### 3) Which year has the most start up founded.

### 4) Which Headquarters has the highest  funding.

### 5) Which Company has the highest amount invested on and who is the investor.

### 6) What is the Maximum, Minimum and Average amount raised.

### DATA PRE-PROCESSING

In [6]:
# 2018 STARTUP DATA PROCESSING

startup_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [7]:
startup_2018.describe()

,Company Name,Industry,Round/Series,Amount,Location,About Company
count,526,526,526,526,526,526
unique,525,405,21,198,50,524
top,TheCollegeFever,—,Seed,—,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
freq,2,30,280,148,102,2

In [8]:
startup_2018.shape

(526, 6)

In [9]:
startup_2018.dtypes

Company Name     object
Industry         object
Round/Series     object
Amount           object
Location         object
About Company    object
dtype: object

In [10]:
startup_2018.isna().sum()

Company Name     0
Industry         0
Round/Series     0
Amount           0
Location         0
About Company    0
dtype: int64

In [11]:
startup_2018

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

### spliting the industry

In [12]:
startup_2018['Industry'] = startup_2018['Industry'].apply(str)

startup_2018['Industry'] = startup_2018['Industry'].str.split(',').str[0]

startup_2018['Industry'] = startup_2018['Industry'].replace(',','',regex = True)

startup_2018

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,Brand Marketing,Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,Agriculture,Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,Credit,Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,Financial Services,Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,E-Commerce Platforms,Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,B2B,Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,Tourism,Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,Food and Beverage,Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,Biotechnology,Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

### SPLITING THE LOCATION

In [13]:
startup_2018['Location'] = startup_2018['Location'].apply(str)

startup_2018['Location'] = startup_2018['Location'].str.split(',').str[0]

startup_2018['Location'] = startup_2018['Location'].replace(',','',regex = True)

startup_2018

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,Brand Marketing,Seed,250000,Bangalore,"TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,Agriculture,Seed,"₹40,000,000",Mumbai,A startup which aggregates milk from dairy far...
2,MyLoanCare,Credit,Series A,"₹65,000,000",Gurgaon,Leading Online Loans Marketplace in India
3,PayMe India,Financial Services,Angel,2000000,Noida,PayMe India is an innovative FinTech organizat...
4,Eunimart,E-Commerce Platforms,Seed,—,Hyderabad,Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,B2B,Series C,225000000,Bangalore,"Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,Tourism,Series A,—,Haryana,HappyEasyGo is an online travel domain.
523,Mombay,Food and Beverage,Seed,7500,Mumbai,Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,"₹35,000,000",Mumbai,Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,Biotechnology,Series C,35000000,Chennai,Welcome to India's most convenient pharmacy!

### RENAMING THE COLUMNS

In [14]:
#startup_2018.rename(columns={'Company Name':'Company/Brand', 'Industry':'Sector', 'Round/Series':'Stage', 'Amount':'Amount ($)',
                            # 'Location':'HeadQuarter', 'About Company':'What it does'}, inplace = True)

## CLEANING THE AMOUNT COLUMN

In [15]:
# REPLACING THE COMMAS WITH '', HYPHENS WITH "0", DOLLA SIGN WITH '' AND CONVERTING THEM TO STRING

startup_2018['Amount'] = startup_2018['Amount'].apply(str)

startup_2018['Amount'] = startup_2018['Amount'].replace(',','',regex = True)

startup_2018['Amount'] = startup_2018['Amount'].replace('—',0)


startup_2018

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,Brand Marketing,Seed,250000,Bangalore,"TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,Agriculture,Seed,₹40000000,Mumbai,A startup which aggregates milk from dairy far...
2,MyLoanCare,Credit,Series A,₹65000000,Gurgaon,Leading Online Loans Marketplace in India
3,PayMe India,Financial Services,Angel,2000000,Noida,PayMe India is an innovative FinTech organizat...
4,Eunimart,E-Commerce Platforms,Seed,0,Hyderabad,Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,B2B,Series C,225000000,Bangalore,"Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,Tourism,Series A,0,Haryana,HappyEasyGo is an online travel domain.
523,Mombay,Food and Beverage,Seed,7500,Mumbai,Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,₹35000000,Mumbai,Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,Biotechnology,Series C,35000000,Chennai,Welcome to India's most convenient pharmacy!

### FEATURE ENGINEERING 

# Note: Exchange Rate: 0.0146 USD = 1 Rupee from 2018 USA Historical Data

In [16]:
# Addition of Amount_INR,Amount_USD to isolate the Rupees and the dollars

# Note: Exchange Rate: 0.0146 USD = 1 Rupee from 2018 USA Historical Data

startup_2018['Amount_INR'] = startup_2018['Amount'].str.rsplit('₹', n=2).str[1]

startup_2018['Amount_INR'] = startup_2018['Amount_INR'].apply(float).fillna(0)

startup_2018['Amount_USD'] = startup_2018['Amount_INR']* 0.0146

startup_2018['Amount_USD'] = startup_2018['Amount_USD'].replace(0,np.nan)

startup_2018['Amount_USD'] = startup_2018['Amount_USD'].fillna(startup_2018['Amount'])

startup_2018

,Company Name,Industry,Round/Series,Amount,Location,About Company,Amount_INR,Amount_USD
0,TheCollegeFever,Brand Marketing,Seed,250000,Bangalore,"TheCollegeFever is a hub for fun, fiesta and f...",0.0,250000
1,Happy Cow Dairy,Agriculture,Seed,₹40000000,Mumbai,A startup which aggregates milk from dairy far...,40000000.0,584000.0
2,MyLoanCare,Credit,Series A,₹65000000,Gurgaon,Leading Online Loans Marketplace in India,65000000.0,949000.0
3,PayMe India,Financial Services,Angel,2000000,Noida,PayMe India is an innovative FinTech organizat...,0.0,2000000
4,Eunimart,E-Commerce Platforms,Seed,0,Hyderabad,Eunimart is a one stop solution for merchants ...,0.0,0
...,...,...,...,...,...,...,...,...
521,Udaan,B2B,Series C,225000000,Bangalore,"Udaan is a B2B trade platform, designed specif...",0.0,225000000
522,Happyeasygo Group,Tourism,Series A,0,Haryana,HappyEasyGo is an online travel domain.,0.0,0
523,Mombay,Food and Beverage,Seed,7500,Mumbai,Mombay is a unique opportunity for housewives ...,0.0,7500
524,Droni Tech,Information Technology,Seed,₹35000000,Mumbai,Droni Tech manufacture UAVs and develop softwa...,35000000.0,511000.0
525,Netmeds,Biotechnology,Series C,35000000,Chennai,Welcome to India's most convenient pharmacy!,0.0,35000000

###               CREATING THE YEAR OF FUNDING COLUMN

In [17]:
startup_2018['Year of Funding'] = '2018'

In [18]:
startup_2018

,Company Name,Industry,Round/Series,Amount,Location,About Company,Amount_INR,Amount_USD,Year of Funding
0,TheCollegeFever,Brand Marketing,Seed,250000,Bangalore,"TheCollegeFever is a hub for fun, fiesta and f...",0.0,250000,2018
1,Happy Cow Dairy,Agriculture,Seed,₹40000000,Mumbai,A startup which aggregates milk from dairy far...,40000000.0,584000.0,2018
2,MyLoanCare,Credit,Series A,₹65000000,Gurgaon,Leading Online Loans Marketplace in India,65000000.0,949000.0,2018
3,PayMe India,Financial Services,Angel,2000000,Noida,PayMe India is an innovative FinTech organizat...,0.0,2000000,2018
4,Eunimart,E-Commerce Platforms,Seed,0,Hyderabad,Eunimart is a one stop solution for merchants ...,0.0,0,2018
...,...,...,...,...,...,...,...,...,...
521,Udaan,B2B,Series C,225000000,Bangalore,"Udaan is a B2B trade platform, designed specif...",0.0,225000000,2018
522,Happyeasygo Group,Tourism,Series A,0,Haryana,HappyEasyGo is an online travel domain.,0.0,0,2018
523,Mombay,Food and Beverage,Seed,7500,Mumbai,Mombay is a unique opportunity for housewives ...,0.0,7500,2018
524,Droni Tech,Information Technology,Seed,₹35000000,Mumbai,Droni Tech manufacture UAVs and develop softwa...,35000000.0,511000.0,2018
525,Netmeds,Biotechnology,Series C,35000000,Chennai,Welcome to India's most convenient pharmacy!,0.0,35000000,2018

In [19]:
# Converting the Amount_USD to string and Removing any commas or hypens.

# Change datatype to float

startup_2018['Amount_USD'] = startup_2018['Amount_USD'].apply(str)

startup_2018['Amount_USD'] = startup_2018['Amount_USD'].replace('$','',regex=True)

startup_2018['Amount_USD'] = startup_2018['Amount_USD'].apply(lambda x: float(str(x).replace('$','')))

startup_2018['Amount_USD'] = startup_2018['Amount_USD'].replace(0,np.nan)

startup_2018

,Company Name,Industry,Round/Series,Amount,Location,About Company,Amount_INR,Amount_USD,Year of Funding
0,TheCollegeFever,Brand Marketing,Seed,250000,Bangalore,"TheCollegeFever is a hub for fun, fiesta and f...",0.0,250000.0,2018
1,Happy Cow Dairy,Agriculture,Seed,₹40000000,Mumbai,A startup which aggregates milk from dairy far...,40000000.0,584000.0,2018
2,MyLoanCare,Credit,Series A,₹65000000,Gurgaon,Leading Online Loans Marketplace in India,65000000.0,949000.0,2018
3,PayMe India,Financial Services,Angel,2000000,Noida,PayMe India is an innovative FinTech organizat...,0.0,2000000.0,2018
4,Eunimart,E-Commerce Platforms,Seed,0,Hyderabad,Eunimart is a one stop solution for merchants ...,0.0,NaN,2018
...,...,...,...,...,...,...,...,...,...
521,Udaan,B2B,Series C,225000000,Bangalore,"Udaan is a B2B trade platform, designed specif...",0.0,225000000.0,2018
522,Happyeasygo Group,Tourism,Series A,0,Haryana,HappyEasyGo is an online travel domain.,0.0,NaN,2018
523,Mombay,Food and Beverage,Seed,7500,Mumbai,Mombay is a unique opportunity for housewives ...,0.0,7500.0,2018
524,Droni Tech,Information Technology,Seed,₹35000000,Mumbai,Droni Tech manufacture UAVs and develop softwa...,35000000.0,511000.0,2018
525,Netmeds,Biotechnology,Series C,35000000,Chennai,Welcome to India's most convenient pharmacy!,0.0,35000000.0,2018

In [20]:
startup_2018.drop(columns=['Amount_INR','Amount'], inplace=True)

In [21]:
startup_2018

,Company Name,Industry,Round/Series,Location,About Company,Amount_USD,Year of Funding
0,TheCollegeFever,Brand Marketing,Seed,Bangalore,"TheCollegeFever is a hub for fun, fiesta and f...",250000.0,2018
1,Happy Cow Dairy,Agriculture,Seed,Mumbai,A startup which aggregates milk from dairy far...,584000.0,2018
2,MyLoanCare,Credit,Series A,Gurgaon,Leading Online Loans Marketplace in India,949000.0,2018
3,PayMe India,Financial Services,Angel,Noida,PayMe India is an innovative FinTech organizat...,2000000.0,2018
4,Eunimart,E-Commerce Platforms,Seed,Hyderabad,Eunimart is a one stop solution for merchants ...,NaN,2018
...,...,...,...,...,...,...,...
521,Udaan,B2B,Series C,Bangalore,"Udaan is a B2B trade platform, designed specif...",225000000.0,2018
522,Happyeasygo Group,Tourism,Series A,Haryana,HappyEasyGo is an online travel domain.,NaN,2018
523,Mombay,Food and Beverage,Seed,Mumbai,Mombay is a unique opportunity for housewives ...,7500.0,2018
524,Droni Tech,Information Technology,Seed,Mumbai,Droni Tech manufacture UAVs and develop softwa...,511000.0,2018
525,Netmeds,Biotechnology,Series C,Chennai,Welcome to India's most convenient pharmacy!,35000000.0,2018

## Renaming the Columns

In [22]:
startup_2018.rename(columns = {'Company Name':'Company/Brand','Industry':'Sector','Round/Series':'Stage',
                               'Amount_USD':'Amount($)','Location':'HeadQuarter','About Company':'What it does'}, inplace=True)

In [23]:
startup_2018

,Company/Brand,Sector,Stage,HeadQuarter,What it does,Amount($),Year of Funding
0,TheCollegeFever,Brand Marketing,Seed,Bangalore,"TheCollegeFever is a hub for fun, fiesta and f...",250000.0,2018
1,Happy Cow Dairy,Agriculture,Seed,Mumbai,A startup which aggregates milk from dairy far...,584000.0,2018
2,MyLoanCare,Credit,Series A,Gurgaon,Leading Online Loans Marketplace in India,949000.0,2018
3,PayMe India,Financial Services,Angel,Noida,PayMe India is an innovative FinTech organizat...,2000000.0,2018
4,Eunimart,E-Commerce Platforms,Seed,Hyderabad,Eunimart is a one stop solution for merchants ...,NaN,2018
...,...,...,...,...,...,...,...
521,Udaan,B2B,Series C,Bangalore,"Udaan is a B2B trade platform, designed specif...",225000000.0,2018
522,Happyeasygo Group,Tourism,Series A,Haryana,HappyEasyGo is an online travel domain.,NaN,2018
523,Mombay,Food and Beverage,Seed,Mumbai,Mombay is a unique opportunity for housewives ...,7500.0,2018
524,Droni Tech,Information Technology,Seed,Mumbai,Droni Tech manufacture UAVs and develop softwa...,511000.0,2018
525,Netmeds,Biotechnology,Series C,Chennai,Welcome to India's most convenient pharmacy!,35000000.0,2018

In [24]:
#Change year of Funding column datatype to int

startup_2018['Year of Funding'].astype(int)

0      2018
1      2018
2      2018
3      2018
4      2018
       ...
521    2018
522    2018
523    2018
524    2018
525    2018
Name: Year of Funding, Length: 526, dtype: int32

In [25]:
# Confirming the datatype

startup_2018.dtypes

Company/Brand       object
Sector              object
Stage               object
HeadQuarter         object
What it does        object
Amount($)          float64
Year of Funding     object
dtype: object

### SAVING CLEANED 2018 DATASET

In [26]:
startup_2018.to_csv('cleaned_2018.csv', index = False)

### PROCESSING 2020 DATASET

In [27]:
startup_2020

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,Unnamed: 9
0,Aqgromalin,2019,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,"$200,000",NaN,NaN
1,Krayonnz,2019,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,"$100,000",Pre-seed,NaN
2,PadCare Labs,2018,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,Undisclosed,Pre-seed,NaN
3,NCOME,2020,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital","$400,000",NaN,NaN
4,Gramophone,2016,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge","$340,000",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures","$1,500,000",NaN,NaN
1051,EpiFi,NaN,NaN,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital","$13,200,000",Seed Round,NaN
1052,Purplle,2012,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,"$8,000,000",NaN,NaN
1053,Shuttl,2015,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,"$8,043,000",Series C,NaN
1054,Pando,2017,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,"$9,000,000",Series A,NaN

In [28]:
startup_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  1055 non-null   object
 1   Founded        843 non-null    object
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What it does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount($)      1052 non-null   object
 8   Stage          591 non-null    object
 9   Unnamed: 9     2 non-null      object
dtypes: object(10)
memory usage: 82.5+ KB

In [29]:
startup_2020.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,Unnamed: 9
0,Aqgromalin,2019,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,"$200,000",NaN,NaN
1,Krayonnz,2019,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,"$100,000",Pre-seed,NaN
2,PadCare Labs,2018,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,Undisclosed,Pre-seed,NaN
3,NCOME,2020,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital","$400,000",NaN,NaN
4,Gramophone,2016,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge","$340,000",NaN,NaN

In [30]:
startup_2020.isna().sum()

Company/Brand       0
Founded           212
HeadQuarter        94
Sector             13
What it does        0
Founders           12
Investor           38
Amount($)           3
Stage             464
Unnamed: 9       1053
dtype: int64

In [31]:
startup_2020.shape

(1055, 10)

### WE ARE GOING TO CLEAN THIS DATA COLUMN BY COLUMN

### CLEANING COMPANY/BRAND COLUMN

In [32]:
startup_2020['Company/Brand'].isna().sum()

0

In [33]:
startup_2020['Company/Brand']

0         Aqgromalin
1           Krayonnz
2       PadCare Labs
3              NCOME
4         Gramophone
            ...
1050    Leverage Edu
1051           EpiFi
1052         Purplle
1053          Shuttl
1054           Pando
Name: Company/Brand, Length: 1055, dtype: object

### THERE IS NO MISSING VALUES IN THE COMPANY/BRAND COLUMN

### CLEANING THE 'FOUNDED ' COLUMN

In [34]:
startup_2020["Founded"].isnull().sum()

212

### There are 212 empty values. 

### We will be using  mode or mean of the column to fill the missing values.

In [35]:
# copying the column

founded_2020 = startup_2020.Founded 

founded_2020

0       2019
1       2019
2       2018
3       2020
4       2016
        ...
1050     NaN
1051     NaN
1052    2012
1053    2015
1054    2017
Name: Founded, Length: 1055, dtype: object

### From above the it has "-" and "nan" values. They have to be dropped inorder to find mean and mode.

In [36]:
# searching for the index of the value "-" from the column
for i in range(startup_2020.shape[0]):
    if founded_2020[i] == "-":
        print(i)

482

### It has a Total number of 482 "-"and "nan" values that need to be dropped

In [37]:
founded_2020 = founded_2020.drop(482)

In [38]:
founded_2020 = founded_2020.dropna()

founded_2020

0       2019
1       2019
2       2018
3       2020
4       2016
        ...
1048    2016
1049    2017
1052    2012
1053    2015
1054    2017
Name: Founded, Length: 842, dtype: object

In [39]:
founded_2020.unique()

array(['2019', '2018', '2020', '2016', '2008', '2015', '2017', '2014',
       '1998', '2007', '2011', '1982', '2013', '2009', '2012', '1995',
       '2010', '2006', '1978', '1999', '1994', '2005', '1973', '2002',
       '2004', '2001'], dtype=object)

### Founded_2020 is free from error for our calculation. 

### Let us convert it to integer

In [40]:
# converting to int data type

founded_2020 = founded_2020.astype(int) 

founded_2020

0       2019
1       2019
2       2018
3       2020
4       2016
        ...
1048    2016
1049    2017
1052    2012
1053    2015
1054    2017
Name: Founded, Length: 842, dtype: int32

In [41]:
founded_2020.info()

<class 'pandas.core.series.Series'>
Int64Index: 842 entries, 0 to 1054
Series name: Founded
Non-Null Count  Dtype
--------------  -----
842 non-null    int32
dtypes: int32(1)
memory usage: 9.9 KB

### Calculating Mode and Mean

In [42]:
founded_2020.mode()

0    2015
Name: Founded, dtype: int32

In [43]:
founded_2020.mean()

2015.3634204275534

### The Average is 2015. 

###  2015  will be used as an imputer for missed value for column Founded.

In [44]:
startup_2020.Founded.unique()

array(['2019', '2018', '2020', '2016', '2008', '2015', '2017', '2014',
       '1998', '2007', '2011', '1982', '2013', '2009', '2012', '1995',
       '2010', '2006', '1978', nan, '1999', '1994', '2005', '1973', '-',
       '2002', '2004', '2001'], dtype=object)

In [45]:
# repalcing "-" with 2015

startup_2020.Founded = startup_2020.Founded.replace("-",2015) 


# replacing NaN 

startup_2020.Founded = startup_2020.Founded.fillna(2015)

In [46]:
startup_2020.Founded.isnull().any()

False

### NOW, OUR "FOUNDED " COLUMN IS CLEANED

### CLEANING THE SECTOR COLUMN

In [47]:
# checking if there is MISING value

startup_2020.Sector.isnull().sum()

13

###  WE HAVE 13 MISSING VALUES INTHE SECTOR COLUMN

In [48]:
# copying the column

sector_2020 = startup_2020.Sector.isnull()

In [49]:
# finding frequented value

mode = startup_2020.Sector.mode() 

mode

0    Fintech
Name: Sector, dtype: object

In [50]:
 # searching for empty/nan value

for i in range(len(sector_2020)):
    if sector_2020[i] == True:
        startup_2020.Sector[i] = mode

In [51]:
startup_2020.Sector.isnull().any()

False

### SECTOR COLUMN IS NOW CLEANED

### CLEANING INVESTOR COLUMN

In [52]:
# CHECKING FOR MISSING VALUES IN INVESTOR COLUMN

startup_2020.Investor.isnull().sum()

38

### It has a total of 38 missing values

In [53]:
#FILLING THE MISSING VALUES WITH " UNDEFINED"


investor_2020 = startup_2020.Investor.isnull()

In [54]:
for i in range(len(investor_2020)):
    if investor_2020[i] == True:
        startup_2020.Investor[i] = "undefined"

In [55]:
startup_2020.Investor.isnull().sum()

0

### THE INVESTOR COLUMN IS CLEANED NOW

### CLEANING THE AMOUNT COLUMN

In [56]:
startup_2020["Amount($)"].unique()

array(['$200,000', '$100,000', 'Undisclosed', '$400,000', '$340,000',
       '$600,000', '$45,000,000', '$1,000,000', '$2,000,000',
       '$1,200,000', '$660,000,000', '$120,000', '$7,500,000',
       '$5,000,000', '$500,000', '$3,000,000', '$10,000,000',
       '$145,000,000', '$100,000,000', nan, '$21,000,000', '$4,000,000',
       '$20,000,000', '$560,000', '$275,000', '$4,500,000', '$15,000,000',
       '$390,000,000', '$7,000,000', '$5,100,000', '$700,000,000',
       '$2,300,000', '$700,000', '$19,000,000', '$9,000,000',
       '$40,000,000', '$750,000', '$1,500,000', '$7,800,000',
       '$50,000,000', '$80,000,000', '$30,000,000', '$1,700,000',
       '$2,500,000', '$40,000', '$33,000,000', '$35,000,000', '$300,000',
       '$25,000,000', '$3,500,000', '$200,000,000', '$6,000,000',
       '$1,300,000', '$4,100,000', '$575,000', '$800,000', '$28,000,000',
       '$18,000,000', '$3,200,000', '$900,000', '$250,000', '$4,700,000',
       '$75,000,000', '$8,000,000', '$121,000,000', '$55,000,000',
       '$3,300,000', '$11,000,000', '$16,000,000', '$5,400,000',
       '$150,000,000', '$4,200,000', '$22,000,000', '$52,000,000',
       '$1,100,000', '$118,000,000', '$1,600,000', '$18,500,000',
       '$70,000,000,000', '$800,000,000', '$400,000,000', '$150,000',
       '$176,000,000', '$60,000,000', '$470,000', '$240,000',
       '$3,000,000,000', '$74,000,000', '$62,000,000', '$2,100,000',
       '$500,000,000', '$12,500,000', '$2,200,000,000', '$5,060,000',
       '$225,000,000', '$24,700,000', '$7,700,000', '$1,90,67,328',
       '$51,000,000', '$115,000', '$54,000', '$20,000', '$803,146',
       '$238,000', '$10,220,000', '$1,020,000', '$12,000,000',
       '$13,400,000', '$170,000,000', '$2,900,000', '$543,000',
       '$90,000,000', '$3,400,000', '$23,000,000', '$8,090,000',
       '$1,030,000', '$5,040,000', '$360,000', '$1,400,000', '$650,000',
       '$54,000,000', '$42,500,000', '$11,370,000', '$325,000',
       '$410,000', '$450,000', '$682,000', '$4,050,000', '$1,050,000',
       '$1,080,000', '$4,300,000', '$6,800,000', '$2,110,000',
       '$887,000, $23,000,000', '$764,000', '$603,000', '$409,000',
       '$292,000', '$286,000', '$136,000', '$800,000,000 to $850,000,000',
       '$546,000', '$887,000', '$43,000', '$40,900', '$2,200,000',
       '$5,660,000', '$350,000', '$110,000', '$122,000,000',
       '$11,635,000', '$2,800,000', '$1,065,000', '$669,000',
       '$16,076,000', '$649,600', '$6,700,000', '$220,000', '$266,500',
       '$2,879,000', '$26,500,000', '$351,000', '$ 8,700,000',
       '$46,761,000', '$175,000', '9.600,000', '$11,241,000', '$804,000',
       '$1,340,000', '$467,000', '$133,000', '$3,823,000', '$934,000',
       '$293,000', '$198,000', '$927,000', '$971,000', '$3,060,000',
       '$1,862,000', '$232,000', '$2,888,000', '$1,328,000',
       '$15,500,000', '$56,000,000', '$2,250,000', '$16,753,000',
       '$3,700,000', '$1,470,000', '$530,000', '$267,000', '$3,344,000',
       '$7,200,000', '$2,743,000', '$6,082,000', '$6,609,000',
       '$27,700,000', '$5,940,000', '$3,964,000', '$5,500,000',
       '$197,000', '$4,327,000', '$459,000', '$3,937,000', '$1,313,500',
       '$229,800', '$5,305,000', '$264,000', '$1,750,000', '$5,967,000',
       '$2,980,000', 'Undiclsosed', '$323,000', '$1,326,000',
       '$27,000,000', '$5,200,000', '$2,530,000', '$792,000',
       '$11,363,000', '$1,715,000', '$329,000', '$5,271,000',
       '$8,700,000', '$3,226,000', '$5,900,000', '$44,000,000',
       '$3,879,000', '$13,000,000', '$8,800,000', '$9,500,000',
       '$920,000', '$35,600,000', '$9,400,000', '$790,000', '$480,000',
       '$160,000', '$8,200,000', '$4,257,000', '$1,410,000', '$349,800',
       '$786,000', '$2,004,000', '$123,000,000', '$248,000',
       '$24,000,000', '$14,259,000', '$24,500,000', '$3,800,000',
       '$18,370,000', '$68,525,000', '$4,800,000', '$1,834,000',
       '$23,850,000', '$43,000,000', '$21,600,000', '$4,598,000',
       '$13,137,000', '$115,000,000', '$3,900,000', '$670,000',
       '42.23,000', '$8,500,000', '$3,148,000', '$2,600,000', '25,58,000',
       '$4,049,500', '$10,500,000', '$6,500,000', '$43,700,000',
       '$13,800,000', '$306,900', '$420,000', '$627,300', '$113,000,000',
       '$32,000,000', '$110,000,000', '$1,397,000', '$448,500',
       '$7,975,700', '$330,000', '$5,600,000', '$1,402,000',
       '$21,500,000', '$296,000,000', '$4,900,000', '$1,402,400',
       '$12,618,300', '$9,900,000', '$982,530', '$70,185,200',
       '$210,000,000', '$84,000,000', '$39,000,000', '$2,700,000',
       '$1,403,400', '$105,000,000', '$103,000,000', '$281,300',
       '$12,700', '$25,000', '$97,500,000', '$507,000', 'Undislosed',
       '$8,400,000', '$18,300,000', '$125,000,000', '$181,000',
       '$280,000', '$14,700,000', '$13,200,000', '$8,043,000'],
      dtype=object)

### FROM THE ABOVE, THE COLUMN HAS "NAN" AND "UNDISCLOSED" VALUES WHICH NEED TO TREATED

### WE ARE GOING TO TREAT THEM BY REPLACING THEM WITH THEIR MEAN VALUES

In [57]:
# copying the column

amount_2020 = startup_2020["Amount($)"]

In [58]:
# replacing values

amount_2020 = amount_2020.apply(lambda x: str(x).replace(",",""))
amount_2020 = amount_2020.apply(lambda x: str(x).replace("Undisclosed","0"))
amount_2020 = amount_2020.apply(lambda x: str(x).replace("$",""))
amount_2020 = amount_2020.apply(lambda x: str(x).replace("Undislosed","0"))
amount_2020 = amount_2020.apply(lambda x: str(x).replace("Undiclsosed","0"))
amount_2020 = amount_2020.apply(lambda x: str(x).replace("nan","0"))

In [59]:
amount_2020.unique()

array(['200000', '100000', '0', '400000', '340000', '600000', '45000000',
       '1000000', '2000000', '1200000', '660000000', '120000', '7500000',
       '5000000', '500000', '3000000', '10000000', '145000000',
       '100000000', '21000000', '4000000', '20000000', '560000', '275000',
       '4500000', '15000000', '390000000', '7000000', '5100000',
       '700000000', '2300000', '700000', '19000000', '9000000',
       '40000000', '750000', '1500000', '7800000', '50000000', '80000000',
       '30000000', '1700000', '2500000', '40000', '33000000', '35000000',
       '300000', '25000000', '3500000', '200000000', '6000000', '1300000',
       '4100000', '575000', '800000', '28000000', '18000000', '3200000',
       '900000', '250000', '4700000', '75000000', '8000000', '121000000',
       '55000000', '3300000', '11000000', '16000000', '5400000',
       '150000000', '4200000', '22000000', '52000000', '1100000',
       '118000000', '1600000', '18500000', '70000000000', '800000000',
       '400000000', '150000', '176000000', '60000000', '470000', '240000',
       '3000000000', '74000000', '62000000', '2100000', '500000000',
       '12500000', '2200000000', '5060000', '225000000', '24700000',
       '7700000', '19067328', '51000000', '115000', '54000', '20000',
       '803146', '238000', '10220000', '1020000', '12000000', '13400000',
       '170000000', '2900000', '543000', '90000000', '3400000',
       '23000000', '8090000', '1030000', '5040000', '360000', '1400000',
       '650000', '54000000', '42500000', '11370000', '325000', '410000',
       '450000', '682000', '4050000', '1050000', '1080000', '4300000',
       '6800000', '2110000', '887000 23000000', '764000', '603000',
       '409000', '292000', '286000', '136000', '800000000 to 850000000',
       '546000', '887000', '43000', '40900', '2200000', '5660000',
       '350000', '110000', '122000000', '11635000', '2800000', '1065000',
       '669000', '16076000', '649600', '6700000', '220000', '266500',
       '2879000', '26500000', '351000', ' 8700000', '46761000', '175000',
       '9.600000', '11241000', '804000', '1340000', '467000', '133000',
       '3823000', '934000', '293000', '198000', '927000', '971000',
       '3060000', '1862000', '232000', '2888000', '1328000', '15500000',
       '56000000', '2250000', '16753000', '3700000', '1470000', '530000',
       '267000', '3344000', '7200000', '2743000', '6082000', '6609000',
       '27700000', '5940000', '3964000', '5500000', '197000', '4327000',
       '459000', '3937000', '1313500', '229800', '5305000', '264000',
       '1750000', '5967000', '2980000', '323000', '1326000', '27000000',
       '5200000', '2530000', '792000', '11363000', '1715000', '329000',
       '5271000', '8700000', '3226000', '5900000', '44000000', '3879000',
       '13000000', '8800000', '9500000', '920000', '35600000', '9400000',
       '790000', '480000', '160000', '8200000', '4257000', '1410000',
       '349800', '786000', '2004000', '123000000', '248000', '24000000',
       '14259000', '24500000', '3800000', '18370000', '68525000',
       '4800000', '1834000', '23850000', '43000000', '21600000',
       '4598000', '13137000', '115000000', '3900000', '670000',
       '42.23000', '8500000', '3148000', '2600000', '2558000', '4049500',
       '10500000', '6500000', '43700000', '13800000', '306900', '420000',
       '627300', '113000000', '32000000', '110000000', '1397000',
       '448500', '7975700', '330000', '5600000', '1402000', '21500000',
       '296000000', '4900000', '1402400', '12618300', '9900000', '982530',
       '70185200', '210000000', '84000000', '39000000', '2700000',
       '1403400', '105000000', '103000000', '281300', '12700', '25000',
       '97500000', '507000', '8400000', '18300000', '125000000', '181000',
       '280000', '14700000', '13200000', '8043000'], dtype=object)

In [60]:
# eliminating space

data = amount_2020.str.endswith(" ")

for i in range(len(amount_2020)):
    if data[i]:
        amount_2020[i] = amount_2020[i][:-1]

In [61]:
# there are two columns having two values

val = {}
for i in range(len(amount_2020)):
    if " " in amount_2020[i]:
        val[i] = amount_2020[i]
val

{465: '887000 23000000', 472: '800000000 to 850000000', 548: ' 8700000'}

In [62]:
# a. replacing values with their mean

val2 = val[465].split(" ")
val2

a = float(val2[0])
b = float(val2[1])

mean = (a + b) / 2
amount_2020[465] = mean

In [63]:
# b. replacing values with their mean

val3 = val[472].split(" to ")
val3

c = float(val2[0])
d = float(val2[1])

mean2 = (c + d) / 2
amount_2020[472] = mean2

In [64]:
# converting to float

amount_2020 = amount_2020.astype(float)

In [65]:
amount_2020

0         200000.0
1         100000.0
2              0.0
3         400000.0
4         340000.0
           ...
1050     1500000.0
1051    13200000.0
1052     8000000.0
1053     8043000.0
1054     9000000.0
Name: Amount($), Length: 1055, dtype: float64

In [66]:
#FINDING THE MAEN, MODE AND MEDIA

mean_val = amount_2020.mean()

mean_val

85860249.91073933

In [67]:
amount_2020.mode()

0    0.0
Name: Amount($), dtype: float64

In [68]:
amount_2020.median()

1403400.0

In [69]:
# replacing 0.0 by mean value

amount_2020 = amount_2020.replace(0.0 ,mean_val) 

amount_2020

0       2.000000e+05
1       1.000000e+05
2       8.586025e+07
3       4.000000e+05
4       3.400000e+05
            ...
1050    1.500000e+06
1051    1.320000e+07
1052    8.000000e+06
1053    8.043000e+06
1054    9.000000e+06
Name: Amount($), Length: 1055, dtype: float64

In [70]:
 # substituting the columns

startup_2020["Amount($)"] = amount_2020

In [71]:
startup_2020

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,Unnamed: 9
0,Aqgromalin,2019,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,2.000000e+05,NaN,NaN
1,Krayonnz,2019,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,1.000000e+05,Pre-seed,NaN
2,PadCare Labs,2018,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,8.586025e+07,Pre-seed,NaN
3,NCOME,2020,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",4.000000e+05,NaN,NaN
4,Gramophone,2016,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",3.400000e+05,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,2015,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1.500000e+06,NaN,NaN
1051,EpiFi,2015,NaN,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",1.320000e+07,Seed Round,NaN
1052,Purplle,2012,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8.000000e+06,NaN,NaN
1053,Shuttl,2015,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8.043000e+06,Series C,NaN
1054,Pando,2017,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9.000000e+06,Series A,NaN

### THE AMOUNT COLUMN IS CLEAN NOW

### LET NOW CLEAN THE FOUNDERS COLUMN

In [72]:
startup_2020.Founders.isnull().sum()

12

### It has 12 null values

In [73]:
# Let replace the null values with "Undefined"

founders_2020 = startup_2020.Founders.isnull()

founders_2020

0       False
1       False
2       False
3       False
4       False
        ...
1050    False
1051    False
1052    False
1053    False
1054    False
Name: Founders, Length: 1055, dtype: bool

In [74]:
for i in range(len(founders_2020)):
    if founders_2020[i] == True:
        startup_2020.Founders[i] = "Undefined"

C:\Users\User\AppData\Local\Temp\ipykernel_6480\2141025315.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  startup_2020.Founders[i] = "Undefined"

In [75]:
startup_2020.Founders.isnull().sum()

0

### Now, we are go to go as the Founders column is clean now..

### LET CLEAN THE STAGE COLUMN

In [76]:
startup_2020.Stage.unique()

array([nan, 'Pre-seed', 'Seed', 'Pre-series A', 'Pre-series', 'Series C',
       'Series A', 'Series B', 'Debt', 'Pre-series C', 'Pre-series B',
       'Series E', 'Bridge', 'Series D', 'Series B2', 'Series F',
       'Pre- series A', 'Edge', 'Series H', 'Pre-Series B', 'Seed A',
       'Series A-1', 'Seed Funding', 'Pre-Seed', 'Seed round',
       'Pre-seed Round', 'Seed Round & Series A', 'Pre Series A',
       'Pre seed Round', 'Angel Round', 'Pre series A1', 'Series E2',
       'Pre series A', 'Seed Round', 'Bridge Round', 'Pre seed round',
       'Pre series B', 'Pre series C', 'Seed Investment', 'Series D1',
       'Mid series', 'Series C, D', 'Seed funding'], dtype=object)

In [77]:
# Filling 

startup_2020.Stage = startup_2020.Stage.fillna(startup_2020.Stage.mode()[0])

In [78]:
startup_2020

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,Unnamed: 9
0,Aqgromalin,2019,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,2.000000e+05,Series A,NaN
1,Krayonnz,2019,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,1.000000e+05,Pre-seed,NaN
2,PadCare Labs,2018,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,8.586025e+07,Pre-seed,NaN
3,NCOME,2020,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",4.000000e+05,Series A,NaN
4,Gramophone,2016,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",3.400000e+05,Series A,NaN
...,...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,2015,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1.500000e+06,Series A,NaN
1051,EpiFi,2015,NaN,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",1.320000e+07,Seed Round,NaN
1052,Purplle,2012,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8.000000e+06,Series A,NaN
1053,Shuttl,2015,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8.043000e+06,Series C,NaN
1054,Pando,2017,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9.000000e+06,Series A,NaN

In [79]:
startup_2020['Year of Funding'] = '2020'

In [80]:
startup_2020

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,Unnamed: 9,Year of Funding
0,Aqgromalin,2019,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,2.000000e+05,Series A,NaN,2020
1,Krayonnz,2019,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,1.000000e+05,Pre-seed,NaN,2020
2,PadCare Labs,2018,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,8.586025e+07,Pre-seed,NaN,2020
3,NCOME,2020,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",4.000000e+05,Series A,NaN,2020
4,Gramophone,2016,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",3.400000e+05,Series A,NaN,2020
...,...,...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,2015,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1.500000e+06,Series A,NaN,2020
1051,EpiFi,2015,NaN,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",1.320000e+07,Seed Round,NaN,2020
1052,Purplle,2012,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8.000000e+06,Series A,NaN,2020
1053,Shuttl,2015,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8.043000e+06,Series C,NaN,2020
1054,Pando,2017,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9.000000e+06,Series A,NaN,2020

In [81]:
# DROPPING UNNAMED COLUMN

startup_2020 = startup_2020.drop(columns = "Unnamed: 9")

In [82]:
startup_2020

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,Year of Funding
0,Aqgromalin,2019,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,2.000000e+05,Series A,2020
1,Krayonnz,2019,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,1.000000e+05,Pre-seed,2020
2,PadCare Labs,2018,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,8.586025e+07,Pre-seed,2020
3,NCOME,2020,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",4.000000e+05,Series A,2020
4,Gramophone,2016,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",3.400000e+05,Series A,2020
...,...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,2015,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1.500000e+06,Series A,2020
1051,EpiFi,2015,NaN,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",1.320000e+07,Seed Round,2020
1052,Purplle,2012,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8.000000e+06,Series A,2020
1053,Shuttl,2015,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8.043000e+06,Series C,2020
1054,Pando,2017,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9.000000e+06,Series A,2020

In [83]:
file_name = "cleaned_2020.csv"

startup_2020.to_csv(file_name)

### STARTUP_2021 PROCESSING

In [84]:
startup_2021

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",NaN
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed
...,...,...,...,...,...,...,...,...,...
1204,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A
1205,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,$20000000,Series D
1206,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C
1207,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B
1208,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A

In [85]:
startup_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What it does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount($)      1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [86]:
startup_2021.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",NaN
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [87]:
# CHECKING FOR MISSING VALUES

startup_2021.isna().sum()

Company/Brand      0
Founded            1
HeadQuarter        1
Sector             0
What it does       0
Founders           4
Investor          62
Amount($)          3
Stage            428
dtype: int64

In [88]:
startup_2021.duplicated().sum()

19

### LET'S START FROM THE FOUNDED COLUMN FOR THE CLEANING

In [89]:
 startup_2021.Founded.unique()

array([2019., 2015., 2012., 2021., 2014., 2018., 2016., 2020., 2010.,
       2017., 1993., 2008., 2013., 1999., 1989., 2011.,   nan, 2009.,
       2002., 1994., 2006., 2000., 2007., 1978., 2003., 1998., 1991.,
       1984., 2004., 2005., 1963.])

In [90]:
startup_2021.Founded.isna().sum()

1

### the Founded Column has only 1 nan value. We can use the mean or the mode to fill it

In [91]:
# SETTING THE DATATYPE FOR THE FOUNDED COLUMN TO STRING

startup_2021['Founded'] = startup_2021['Founded'].replace(np.nan, 0)

startup_2021['Founded'] = startup_2021['Founded'].astype(int)

startup_2021['Founded']

0       2019
1       2015
2       2012
3       2015
4       2021
        ...
1204    2019
1205    2015
1206    2019
1207    2015
1208    2019
Name: Founded, Length: 1209, dtype: int32

In [92]:
# calculating the mean and mode

startup_2021['Founded'].mean()

2014.987593052109

In [93]:
# mode

startup_2021['Founded'].mode()

0    2020
Name: Founded, dtype: int32

In [94]:
# Using the Mean to replace "0"

startup_2021.Founded = startup_2021.Founded.replace("0",2015)

startup_2021.Founded

0       2019
1       2015
2       2012
3       2015
4       2021
        ...
1204    2019
1205    2015
1206    2019
1207    2015
1208    2019
Name: Founded, Length: 1209, dtype: int32

In [95]:
startup_2021.Founded.isna().sum()

0

### Our Founded Column is clean now.

### CLEANING OF THE HEADQUARTERS COLUMN

In [96]:
startup_2021['HeadQuarter'].unique()

array(['Bangalore', 'Mumbai', 'Gurugram', 'New Delhi', 'Hyderabad',
       'Jaipur', 'Ahmadabad', 'Chennai', nan,
       'Small Towns, Andhra Pradesh', 'Goa', 'Rajsamand', 'Ranchi',
       'Faridabad, Haryana', 'Gujarat', 'Pune', 'Thane', 'Computer Games',
       'Cochin', 'Noida', 'Chandigarh', 'Gurgaon', 'Vadodara',
       'Food & Beverages', 'Pharmaceuticals\t#REF!', 'Gurugram\t#REF!',
       'Kolkata', 'Ahmedabad', 'Mohali', 'Haryana', 'Indore', 'Powai',
       'Ghaziabad', 'Nagpur', 'West Bengal', 'Patna', 'Samsitpur',
       'Lucknow', 'Telangana', 'Silvassa', 'Thiruvananthapuram',
       'Faridabad', 'Roorkee', 'Ambernath', 'Panchkula', 'Surat',
       'Coimbatore', 'Andheri', 'Mangalore', 'Telugana', 'Bhubaneswar',
       'Kottayam', 'Beijing', 'Panaji', 'Satara', 'Orissia', 'Jodhpur',
       'New York', 'Santra', 'Mountain View, CA', 'Trivandrum',
       'Jharkhand', 'Kanpur', 'Bhilwara', 'Guwahati',
       'Online Media\t#REF!', 'Kochi', 'London',
       'Information Technology & Services', 'The Nilgiris', 'Gandhinagar'],
      dtype=object)

In [97]:
startup_2021['HeadQuarter'].isna().sum()

1

In [98]:
startup_2021['HeadQuarter'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1209 entries, 0 to 1208
Series name: HeadQuarter
Non-Null Count  Dtype
--------------  -----
1208 non-null   object
dtypes: object(1)
memory usage: 9.6+ KB

In [99]:
# Replacing NAN values with "Undefined"

headquarters_2021 = startup_2021.HeadQuarter.isnull()

headquarters_2021

0       False
1       False
2       False
3       False
4       False
        ...
1204    False
1205    False
1206    False
1207    False
1208    False
Name: HeadQuarter, Length: 1209, dtype: bool

In [100]:
# Replacing the 'NAN' value with Keyword "Undefined"

for i in range(len(headquarters_2021)):
    if headquarters_2021[i] == True:
        startup_2021.HeadQuarter[i] = "Undefined"

C:\Users\User\AppData\Local\Temp\ipykernel_6480\1738805364.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  startup_2021.HeadQuarter[i] = "Undefined"

In [101]:
startup_2021.HeadQuarter.isnull().sum()

0

### Now, the Headquarters Column is great.


### LET'S LOOK AT THE FOUNDERS COLUMN TO CLEAN IT

In [102]:
startup_2021['Founders'].isna().sum()

4

In [103]:
startup_2021['Founders'].unique()

array(['Pramod Ghadge, Shahid Memon',
       'Mayank Kumar, Phalgun Kompalli, Ravijot Chugh, Ronnie Screwvala',
       'Smita Deorah, Sumeet Mehta', ..., 'Bala Sarda',
       'Arnav Kumar, Vaibhav Singh', 'Vishal Chopra, Himanshu Gupta'],
      dtype=object)

In [104]:
founders_2021 = startup_2021.Founders.isnull()

founders_2021

0       False
1       False
2       False
3       False
4       False
        ...
1204    False
1205    False
1206    False
1207    False
1208    False
Name: Founders, Length: 1209, dtype: bool

In [105]:
# Replacing the '...' value with Keyword "Undefined"

for i in range(len(founders_2021)):
    if founders_2021[i] == True:
        startup_2021.Founders[i] = "Undefined"

C:\Users\User\AppData\Local\Temp\ipykernel_6480\2680666504.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  startup_2021.Founders[i] = "Undefined"

In [106]:
startup_2021.Founders.isnull().sum()

0

### The Founder column is Cleaned now


### CLEANING OF THE INVESTOR COLUMN

In [107]:
startup_2021.Investor.info()

<class 'pandas.core.series.Series'>
RangeIndex: 1209 entries, 0 to 1208
Series name: Investor
Non-Null Count  Dtype
--------------  -----
1147 non-null   object
dtypes: object(1)
memory usage: 9.6+ KB

In [108]:

investors_2021 = startup_2021.Investor.isna().sum()

investors_2021

62

In [109]:
startup_2021['Investor'] = startup_2021['Investor'].apply(str)


# Replacing the 'missing' values with Keyword "Unknown"
#for i in range(investors_2021):
    #if investors_2021[i] == True:
       # startup_2021.Investor[i] = "unknown"
        
#startup_2021.Investor.info()

In [110]:
startup_2021.isna().sum()

Company/Brand      0
Founded            0
HeadQuarter        0
Sector             0
What it does       0
Founders           0
Investor           0
Amount($)          3
Stage            428
dtype: int64

### The Investor column is now Clean.


# CLEANING OF THE AMOUNT COLUMN

In [111]:
startup_2021['Amount($)'].isna().sum()

3

In [112]:
startup_2021['Amount($)'].unique()

array(['$1,200,000', '$120,000,000', '$30,000,000', '$51,000,000',
       '$2,000,000', '$188,000,000', '$200,000', 'Undisclosed',
       '$1,000,000', '$3,000,000', '$100,000', '$700,000', '$9,000,000',
       '$40,000,000', '$49,000,000', '$400,000', '$300,000',
       '$25,000,000', '$160,000,000', '$150,000', '$1,800,000',
       '$5,000,000', '$850,000', '$53,000,000', '$500,000', '$1,100,000',
       '$6,000,000', '$800,000', '$10,000,000', '$21,000,000',
       '$7,500,000', '$26,000,000', '$7,400,000', '$1,500,000',
       '$600,000', '$800,000,000', '$17,000,000', '$3,500,000',
       '$15,000,000', '$215,000,000', '$2,500,000', '$350,000,000',
       '$5,500,000', '$83,000,000', '$110,000,000', '$500,000,000',
       '$65,000,000', '$150,000,000,000', '$300,000,000', '$2,200,000',
       '$35,000,000', '$140,000,000', '$4,000,000', '$13,000,000', nan,
       '$Undisclosed', '$2000000', '$800000', '$6000000', '$2500000',
       '$9500000', '$13000000', '$5000000', '$8000000', '$1000000',
       'Upsparks', '$200000', '$12000000', '$1500000', '$1700000',
       '$5500000', '$400000', '$150000000', '$4000000', '$100000000',
       '$500000', '$15000000', '$10000000', '$40000000', '$225000000',
       '$6700000', '$1300000', '$20000000', '$250000', '$21000000',
       '$1200000', '$52000000', '$3800000', '$17500000', '$42000000',
       '$2300000', '$7000000', '$30000000', '$450000000', '$28000000',
       '$300000', '$3500000', '$8500000', '$25000000', '$3000000',
       '$37000000', '$370000000', '$700000', '$16000000', '$100000',
       '$44000000', '$770000', '$125000000', '$35000000', '$50000000',
       '$4900000', '$145000000', '$22000000', '$70000000', '$6600000',
       '$32000000', '$24000000', '$725000', '$461000', 'Series C', 'Seed',
       '$96000000', '$60000000', '$500000000', '$266000000', '$4500000',
       '$325000000', '$6500000', '$1600000', '$225000', '$85000000',
       '$235000', '$260000', '$2900000', '$53000000', '$1100000',
       '$150000', '$86000000', '$130000', '$$100,00', '$111000000',
       '$265000', '$76000000', '$100,000,000', '$75,000,000',
       '$3,800,000', '$12,000,000', '$1,600,000', '$260,000',
       '$1,000,000,000', '$18,000,000', '$20,000,000', '$350,000',
       '$95,000,000', '$4,100,000', '$5,200,000', '$8,000,000',
       '$1,400,000', '$2,600,000', '$900,000', '$250,000', '$16,000,000',
       '$7,000,000', '$11,000,000', '$50,000,000', '$14,300,000',
       '$81,000,000', '$1,300,000', '$8,200,000', '$280,000,000',
       '$70,000,000', '$720,000', '$600000', '$9000000', '$1800000',
       '$330000', '$undisclosed', '$200000000', '$36000000', '$67000000',
       '$10200000', '$220000000', '$108000000', '$75000000', '$450000',
       '$660000000', 'ah! Ventures', '$45000000', '$3200000', '$370000',
       'Pre-series A', 'ITO Angel Network, LetsVenture', '$48000000',
       '$3600000', '$11000000', '$192000000', '$65000000', '$1400000',
       '$1900000', '$41000000', '$144000000', '$5200000', '$270000000',
       '$140000', '$250000000', '$320000', '$350000000', '$4800000',
       '$38000000', '$125000', '$26000000', '$64000000', '$620000',
       '$900000', 'JITO Angel Network, LetsVenture', '$2600000',
       '$1,250,000', '$400,000,000', '$1,700,000', '$27,000,000',
       '$234,000,000', '$460,000,000', '$13,500,000', '$5,100,000',
       '$195,000,000', '$125,000', '$45,000,000', '$200,000,000',
       '$7,300,000', '$6,300,000', '$12,500,000', '$24,000,000',
       '$140,000', '$16,500,000', '$340,000', '$43,000,000',
       '$150,000,000', '$3300000', '$92000000', '$17000000', '$135000000',
       '$$1,55,000', '$2100000', '$840000000', '$248000000', '$4300000',
       '$570000', '$2200000', '$4700000', '$300000000', '$260000000',
       '$140000000', '$175000000', '$19000000', '$810000', '$7500000',
       '$600000000', '$90000000', '$5700000', '$6750000', '$78000000',
       '$5400000', '$115000000', '$255000000', '$18000000', '$570000000',
       '$550000', '$2700000', '$4200000', '$31000000', '$540000',
       '$14000000', '$340000', '$', '$6200000', '$750000', '$6300000',
       '$23000000', '$55000000'], dtype=object)

In [113]:
# converting the datatype to string

startup_2021['Amount($)'] = startup_2021['Amount($)'].apply(str)


# Removing the comas and spaces

startup_2021['Amount($)'].replace(',','', inplace = True, regex = True)

startup_2021

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Unbox Robotics,2019,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First",$1200000,Pre-series A
1,upGrad,2015,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management",$120000000,NaN
2,Lead School,2012,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital",$30000000,Series D
3,Bizongo,2015,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital",$51000000,Series C
4,FypMoney,2021,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal",$2000000,Seed
...,...,...,...,...,...,...,...,...,...
1204,Gigforce,2019,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A
1205,Vahdam,2015,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,$20000000,Series D
1206,Leap Finance,2019,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C
1207,CollegeDekho,2015,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B
1208,WeRize,2019,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A

In [114]:
startup_2021['Amount($)'].unique()

array(['$1200000', '$120000000', '$30000000', '$51000000', '$2000000',
       '$188000000', '$200000', 'Undisclosed', '$1000000', '$3000000',
       '$100000', '$700000', '$9000000', '$40000000', '$49000000',
       '$400000', '$300000', '$25000000', '$160000000', '$150000',
       '$1800000', '$5000000', '$850000', '$53000000', '$500000',
       '$1100000', '$6000000', '$800000', '$10000000', '$21000000',
       '$7500000', '$26000000', '$7400000', '$1500000', '$600000',
       '$800000000', '$17000000', '$3500000', '$15000000', '$215000000',
       '$2500000', '$350000000', '$5500000', '$83000000', '$110000000',
       '$500000000', '$65000000', '$150000000000', '$300000000',
       '$2200000', '$35000000', '$140000000', '$4000000', '$13000000',
       'nan', '$Undisclosed', '$9500000', '$8000000', 'Upsparks',
       '$12000000', '$1700000', '$150000000', '$100000000', '$225000000',
       '$6700000', '$1300000', '$20000000', '$250000', '$52000000',
       '$3800000', '$17500000', '$42000000', '$2300000', '$7000000',
       '$450000000', '$28000000', '$8500000', '$37000000', '$370000000',
       '$16000000', '$44000000', '$770000', '$125000000', '$50000000',
       '$4900000', '$145000000', '$22000000', '$70000000', '$6600000',
       '$32000000', '$24000000', '$725000', '$461000', 'Series C', 'Seed',
       '$96000000', '$60000000', '$266000000', '$4500000', '$325000000',
       '$6500000', '$1600000', '$225000', '$85000000', '$235000',
       '$260000', '$2900000', '$86000000', '$130000', '$$10000',
       '$111000000', '$265000', '$76000000', '$75000000', '$1000000000',
       '$18000000', '$350000', '$95000000', '$4100000', '$5200000',
       '$1400000', '$2600000', '$900000', '$11000000', '$14300000',
       '$81000000', '$8200000', '$280000000', '$720000', '$330000',
       '$undisclosed', '$200000000', '$36000000', '$67000000',
       '$10200000', '$220000000', '$108000000', '$450000', '$660000000',
       'ah! Ventures', '$45000000', '$3200000', '$370000', 'Pre-series A',
       'ITO Angel Network LetsVenture', '$48000000', '$3600000',
       '$192000000', '$1900000', '$41000000', '$144000000', '$270000000',
       '$140000', '$250000000', '$320000', '$4800000', '$38000000',
       '$125000', '$64000000', '$620000',
       'JITO Angel Network LetsVenture', '$1250000', '$400000000',
       '$27000000', '$234000000', '$460000000', '$13500000', '$5100000',
       '$195000000', '$7300000', '$6300000', '$12500000', '$16500000',
       '$340000', '$43000000', '$3300000', '$92000000', '$135000000',
       '$$155000', '$2100000', '$840000000', '$248000000', '$4300000',
       '$570000', '$4700000', '$260000000', '$175000000', '$19000000',
       '$810000', '$600000000', '$90000000', '$5700000', '$6750000',
       '$78000000', '$5400000', '$115000000', '$255000000', '$570000000',
       '$550000', '$2700000', '$4200000', '$31000000', '$540000',
       '$14000000', '$', '$6200000', '$750000', '$23000000', '$55000000'],
      dtype=object)

In [115]:
# Replacing the "nan" with "0"

#startup_2021['Amount($)'].replace('nan',np.nan, inplace = True, regex = True)


# converting to float datatype
#startup_2021['Amount($)']= pd.to_numeric(startup_2021['Amount($)'])
#startup_2021['Amount($)'] = startup_2021['Amount($)'].apply(float)

In [116]:
startup_2021['Amount($)'].isna().sum()

0

In [117]:
startup_2021['Amount($)'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1209 entries, 0 to 1208
Series name: Amount($)
Non-Null Count  Dtype
--------------  -----
1209 non-null   object
dtypes: object(1)
memory usage: 9.6+ KB

In [118]:
startup_2021

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Unbox Robotics,2019,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First",$1200000,Pre-series A
1,upGrad,2015,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management",$120000000,NaN
2,Lead School,2012,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital",$30000000,Series D
3,Bizongo,2015,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital",$51000000,Series C
4,FypMoney,2021,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal",$2000000,Seed
...,...,...,...,...,...,...,...,...,...
1204,Gigforce,2019,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A
1205,Vahdam,2015,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,$20000000,Series D
1206,Leap Finance,2019,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C
1207,CollegeDekho,2015,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B
1208,WeRize,2019,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A

In [119]:
startup_2021['Amount($)'].unique()

array(['$1200000', '$120000000', '$30000000', '$51000000', '$2000000',
       '$188000000', '$200000', 'Undisclosed', '$1000000', '$3000000',
       '$100000', '$700000', '$9000000', '$40000000', '$49000000',
       '$400000', '$300000', '$25000000', '$160000000', '$150000',
       '$1800000', '$5000000', '$850000', '$53000000', '$500000',
       '$1100000', '$6000000', '$800000', '$10000000', '$21000000',
       '$7500000', '$26000000', '$7400000', '$1500000', '$600000',
       '$800000000', '$17000000', '$3500000', '$15000000', '$215000000',
       '$2500000', '$350000000', '$5500000', '$83000000', '$110000000',
       '$500000000', '$65000000', '$150000000000', '$300000000',
       '$2200000', '$35000000', '$140000000', '$4000000', '$13000000',
       'nan', '$Undisclosed', '$9500000', '$8000000', 'Upsparks',
       '$12000000', '$1700000', '$150000000', '$100000000', '$225000000',
       '$6700000', '$1300000', '$20000000', '$250000', '$52000000',
       '$3800000', '$17500000', '$42000000', '$2300000', '$7000000',
       '$450000000', '$28000000', '$8500000', '$37000000', '$370000000',
       '$16000000', '$44000000', '$770000', '$125000000', '$50000000',
       '$4900000', '$145000000', '$22000000', '$70000000', '$6600000',
       '$32000000', '$24000000', '$725000', '$461000', 'Series C', 'Seed',
       '$96000000', '$60000000', '$266000000', '$4500000', '$325000000',
       '$6500000', '$1600000', '$225000', '$85000000', '$235000',
       '$260000', '$2900000', '$86000000', '$130000', '$$10000',
       '$111000000', '$265000', '$76000000', '$75000000', '$1000000000',
       '$18000000', '$350000', '$95000000', '$4100000', '$5200000',
       '$1400000', '$2600000', '$900000', '$11000000', '$14300000',
       '$81000000', '$8200000', '$280000000', '$720000', '$330000',
       '$undisclosed', '$200000000', '$36000000', '$67000000',
       '$10200000', '$220000000', '$108000000', '$450000', '$660000000',
       'ah! Ventures', '$45000000', '$3200000', '$370000', 'Pre-series A',
       'ITO Angel Network LetsVenture', '$48000000', '$3600000',
       '$192000000', '$1900000', '$41000000', '$144000000', '$270000000',
       '$140000', '$250000000', '$320000', '$4800000', '$38000000',
       '$125000', '$64000000', '$620000',
       'JITO Angel Network LetsVenture', '$1250000', '$400000000',
       '$27000000', '$234000000', '$460000000', '$13500000', '$5100000',
       '$195000000', '$7300000', '$6300000', '$12500000', '$16500000',
       '$340000', '$43000000', '$3300000', '$92000000', '$135000000',
       '$$155000', '$2100000', '$840000000', '$248000000', '$4300000',
       '$570000', '$4700000', '$260000000', '$175000000', '$19000000',
       '$810000', '$600000000', '$90000000', '$5700000', '$6750000',
       '$78000000', '$5400000', '$115000000', '$255000000', '$570000000',
       '$550000', '$2700000', '$4200000', '$31000000', '$540000',
       '$14000000', '$', '$6200000', '$750000', '$23000000', '$55000000'],
      dtype=object)

In [120]:
# Calculating the mean

#mean_value = startup_2021['Amount($)'].mean()

#mean_value

In [121]:
# Replacing "0" with the mean value

#startup_2021['Amount($)'].replace('0.0',mean_value, inplace = True, regex = True)

#startup_2021['Amount($)'].replace('nan',mean_value)

In [122]:
startup_2021['Amount($)'].unique()

array(['$1200000', '$120000000', '$30000000', '$51000000', '$2000000',
       '$188000000', '$200000', 'Undisclosed', '$1000000', '$3000000',
       '$100000', '$700000', '$9000000', '$40000000', '$49000000',
       '$400000', '$300000', '$25000000', '$160000000', '$150000',
       '$1800000', '$5000000', '$850000', '$53000000', '$500000',
       '$1100000', '$6000000', '$800000', '$10000000', '$21000000',
       '$7500000', '$26000000', '$7400000', '$1500000', '$600000',
       '$800000000', '$17000000', '$3500000', '$15000000', '$215000000',
       '$2500000', '$350000000', '$5500000', '$83000000', '$110000000',
       '$500000000', '$65000000', '$150000000000', '$300000000',
       '$2200000', '$35000000', '$140000000', '$4000000', '$13000000',
       'nan', '$Undisclosed', '$9500000', '$8000000', 'Upsparks',
       '$12000000', '$1700000', '$150000000', '$100000000', '$225000000',
       '$6700000', '$1300000', '$20000000', '$250000', '$52000000',
       '$3800000', '$17500000', '$42000000', '$2300000', '$7000000',
       '$450000000', '$28000000', '$8500000', '$37000000', '$370000000',
       '$16000000', '$44000000', '$770000', '$125000000', '$50000000',
       '$4900000', '$145000000', '$22000000', '$70000000', '$6600000',
       '$32000000', '$24000000', '$725000', '$461000', 'Series C', 'Seed',
       '$96000000', '$60000000', '$266000000', '$4500000', '$325000000',
       '$6500000', '$1600000', '$225000', '$85000000', '$235000',
       '$260000', '$2900000', '$86000000', '$130000', '$$10000',
       '$111000000', '$265000', '$76000000', '$75000000', '$1000000000',
       '$18000000', '$350000', '$95000000', '$4100000', '$5200000',
       '$1400000', '$2600000', '$900000', '$11000000', '$14300000',
       '$81000000', '$8200000', '$280000000', '$720000', '$330000',
       '$undisclosed', '$200000000', '$36000000', '$67000000',
       '$10200000', '$220000000', '$108000000', '$450000', '$660000000',
       'ah! Ventures', '$45000000', '$3200000', '$370000', 'Pre-series A',
       'ITO Angel Network LetsVenture', '$48000000', '$3600000',
       '$192000000', '$1900000', '$41000000', '$144000000', '$270000000',
       '$140000', '$250000000', '$320000', '$4800000', '$38000000',
       '$125000', '$64000000', '$620000',
       'JITO Angel Network LetsVenture', '$1250000', '$400000000',
       '$27000000', '$234000000', '$460000000', '$13500000', '$5100000',
       '$195000000', '$7300000', '$6300000', '$12500000', '$16500000',
       '$340000', '$43000000', '$3300000', '$92000000', '$135000000',
       '$$155000', '$2100000', '$840000000', '$248000000', '$4300000',
       '$570000', '$4700000', '$260000000', '$175000000', '$19000000',
       '$810000', '$600000000', '$90000000', '$5700000', '$6750000',
       '$78000000', '$5400000', '$115000000', '$255000000', '$570000000',
       '$550000', '$2700000', '$4200000', '$31000000', '$540000',
       '$14000000', '$', '$6200000', '$750000', '$23000000', '$55000000'],
      dtype=object)

In [123]:
# Removing the Dollar sign

startup_2021['Amount($)'] = startup_2021['Amount($)'].str.replace('$','')

C:\Users\User\AppData\Local\Temp\ipykernel_6480\2515805084.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  startup_2021['Amount($)'] = startup_2021['Amount($)'].str.replace('$','')

In [124]:
startup_2021

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Unbox Robotics,2019,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First",1200000,Pre-series A
1,upGrad,2015,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management",120000000,NaN
2,Lead School,2012,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital",30000000,Series D
3,Bizongo,2015,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital",51000000,Series C
4,FypMoney,2021,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal",2000000,Seed
...,...,...,...,...,...,...,...,...,...
1204,Gigforce,2019,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,3000000,Pre-series A
1205,Vahdam,2015,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,20000000,Series D
1206,Leap Finance,2019,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,55000000,Series C
1207,CollegeDekho,2015,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",26000000,Series B
1208,WeRize,2019,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",8000000,Series A

In [125]:
# Creating the Year of Funding Column

startup_2021['Year of Funding'] = '2021'

In [126]:
startup_2021

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,Year of Funding
0,Unbox Robotics,2019,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First",1200000,Pre-series A,2021
1,upGrad,2015,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management",120000000,NaN,2021
2,Lead School,2012,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital",30000000,Series D,2021
3,Bizongo,2015,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital",51000000,Series C,2021
4,FypMoney,2021,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal",2000000,Seed,2021
...,...,...,...,...,...,...,...,...,...,...
1204,Gigforce,2019,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,3000000,Pre-series A,2021
1205,Vahdam,2015,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,20000000,Series D,2021
1206,Leap Finance,2019,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,55000000,Series C,2021
1207,CollegeDekho,2015,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",26000000,Series B,2021
1208,WeRize,2019,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",8000000,Series A,2021

In [127]:

startup_2021['Amount($)'] = startup_2021['Amount($)'].replace('Undisclosed','np.nan', regex = True)

startup_2021['Amount($)'] = startup_2021['Amount($)'].replace('$undisclosed','np.nan', regex = True)

startup_2021['Amount($)'] = startup_2021['Amount($)'].replace('$Undisclosed','np.nan', regex = True)

startup_2021['Amount($)'] = startup_2021['Amount($)'].replace('nan','np.nan', regex = True)

startup_2021['Amount($)'] = startup_2021['Amount($)'].replace('Undislosed','np.nan', regex = True)

In [128]:
# converting to float datatype

#startup_2021['Amount($)']= pd.to_numeric(startup_2021['Amount($)'])

#startup_2021['Amount($)'] = startup_2021['Amount($)'].apply(float)

In [129]:
startup_2021.tail()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,Year of Funding
1204,Gigforce,2019,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,3000000,Pre-series A,2021
1205,Vahdam,2015,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,20000000,Series D,2021
1206,Leap Finance,2019,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,55000000,Series C,2021
1207,CollegeDekho,2015,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",26000000,Series B,2021
1208,WeRize,2019,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",8000000,Series A,2021

In [130]:
startup_2021['Amount($)'].unique()

array(['1200000', '120000000', '30000000', '51000000', '2000000',
       '188000000', '200000', 'np.np.nan', '1000000', '3000000', '100000',
       '700000', '9000000', '40000000', '49000000', '400000', '300000',
       '25000000', '160000000', '150000', '1800000', '5000000', '850000',
       '53000000', '500000', '1100000', '6000000', '800000', '10000000',
       '21000000', '7500000', '26000000', '7400000', '1500000', '600000',
       '800000000', '17000000', '3500000', '15000000', '215000000',
       '2500000', '350000000', '5500000', '83000000', '110000000',
       '500000000', '65000000', '150000000000', '300000000', '2200000',
       '35000000', '140000000', '4000000', '13000000', 'np.nan',
       '9500000', '8000000', 'Upsparks', '12000000', '1700000',
       '150000000', '100000000', '225000000', '6700000', '1300000',
       '20000000', '250000', '52000000', '3800000', '17500000',
       '42000000', '2300000', '7000000', '450000000', '28000000',
       '8500000', '37000000', '370000000', '16000000', '44000000',
       '770000', '125000000', '50000000', '4900000', '145000000',
       '22000000', '70000000', '6600000', '32000000', '24000000',
       '725000', '461000', 'Series C', 'Seed', '96000000', '60000000',
       '266000000', '4500000', '325000000', '6500000', '1600000',
       '225000', '85000000', '235000', '260000', '2900000', '86000000',
       '130000', '10000', '111000000', '265000', '76000000', '75000000',
       '1000000000', '18000000', '350000', '95000000', '4100000',
       '5200000', '1400000', '2600000', '900000', '11000000', '14300000',
       '81000000', '8200000', '280000000', '720000', '330000',
       'undisclosed', '200000000', '36000000', '67000000', '10200000',
       '220000000', '108000000', '450000', '660000000', 'ah! Ventures',
       '45000000', '3200000', '370000', 'Pre-series A',
       'ITO Angel Network LetsVenture', '48000000', '3600000',
       '192000000', '1900000', '41000000', '144000000', '270000000',
       '140000', '250000000', '320000', '4800000', '38000000', '125000',
       '64000000', '620000', 'JITO Angel Network LetsVenture', '1250000',
       '400000000', '27000000', '234000000', '460000000', '13500000',
       '5100000', '195000000', '7300000', '6300000', '12500000',
       '16500000', '340000', '43000000', '3300000', '92000000',
       '135000000', '155000', '2100000', '840000000', '248000000',
       '4300000', '570000', '4700000', '260000000', '175000000',
       '19000000', '810000', '600000000', '90000000', '5700000',
       '6750000', '78000000', '5400000', '115000000', '255000000',
       '570000000', '550000', '2700000', '4200000', '31000000', '540000',
       '14000000', '', '6200000', '750000', '23000000', '55000000'],
      dtype=object)

In [131]:
startup_2021.duplicated().any()

True

In [132]:
startup_2021[1204:1209]

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,Year of Funding
1204,Gigforce,2019,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,3000000,Pre-series A,2021
1205,Vahdam,2015,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,20000000,Series D,2021
1206,Leap Finance,2019,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,55000000,Series C,2021
1207,CollegeDekho,2015,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",26000000,Series B,2021
1208,WeRize,2019,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",8000000,Series A,2021

# IMPORTING THE CLEANED DATASETS FOR CONCATINATION

In [133]:
cleaned_2018= pd.read_csv('cleaned_2018.csv')

cleaned_2019= pd.read_csv('cleaned_2019.csv')

cleaned_2020= pd.read_csv('cleaned_2020.csv')

cleaned_2021= pd.read_csv('cleaned_2021.csv')

In [134]:
# Combining the datasets as one dataset

new_data = pd.concat([cleaned_2018,cleaned_2019,cleaned_2020,cleaned_2021], ignore_index=True)

new_data.column = ['Company/Brand','Founded','HeadQuarter','Sector','What it does',
                   'Founders','Investor','Amount($)','Stage','Year of Funding']

new_data

C:\Users\User\AppData\Local\Temp\ipykernel_6480\1700365443.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  new_data.column = ['Company/Brand','Founded','HeadQuarter','Sector','What it does',

,Company/Brand,Sector,Stage,HeadQuarter,What it does,Amount($),Year of Funding,Founded,Founders,Investor,Unnamed: 0
0,TheCollegeFever,Brand Marketing,Seed,Bangalore,"TheCollegeFever is a hub for fun, fiesta and f...",250000.0,2018.0,NaN,NaN,NaN,NaN
1,Happy Cow Dairy,Agriculture,Seed,Mumbai,A startup which aggregates milk from dairy far...,584000.0,2018.0,NaN,NaN,NaN,NaN
2,MyLoanCare,Credit,Series A,Gurgaon,Leading Online Loans Marketplace in India,949000.0,2018.0,NaN,NaN,NaN,NaN
3,PayMe India,Financial Services,Angel,Noida,PayMe India is an innovative FinTech organizat...,2000000.0,2018.0,NaN,NaN,NaN,NaN
4,Eunimart,E-Commerce Platforms,Seed,Hyderabad,Eunimart is a one stop solution for merchants ...,NaN,2018.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2872,Gigforce,Staffing & Recruiting,Pre-series A,Gurugram,A gig/on-demand staffing company.,3000000.0,2021.0,2019.0,"Chirag Mittal, Anirudh Syal",Endiya Partners,1204.0
2873,Vahdam,Food & Beverages,Series D,New Delhi,VAHDAM is among the world’s first vertically i...,20000000.0,2021.0,2015.0,Bala Sarda,IIFL AMC,1205.0
2874,Leap Finance,Financial Services,Series C,Bangalore,International education loans for high potenti...,55000000.0,2021.0,2019.0,"Arnav Kumar, Vaibhav Singh",Owl Ventures,1206.0
2875,CollegeDekho,EdTech,Series B,Gurugram,"Collegedekho.com is Student’s Partner, Friend ...",26000000.0,2021.0,2015.0,Ruchir Arora,"Winter Capital, ETS, Man Capital",1207.0
2876,WeRize,Financial Services,Series A,Bangalore,India’s first socially distributed full stack ...,8000000.0,2021.0,2019.0,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",1208.0

In [135]:
# DROPPING THE UNNAMED COLUMN


new_data.drop('Unnamed: 0', axis=1, inplace=True)

In [136]:
new_data

,Company/Brand,Sector,Stage,HeadQuarter,What it does,Amount($),Year of Funding,Founded,Founders,Investor
0,TheCollegeFever,Brand Marketing,Seed,Bangalore,"TheCollegeFever is a hub for fun, fiesta and f...",250000.0,2018.0,NaN,NaN,NaN
1,Happy Cow Dairy,Agriculture,Seed,Mumbai,A startup which aggregates milk from dairy far...,584000.0,2018.0,NaN,NaN,NaN
2,MyLoanCare,Credit,Series A,Gurgaon,Leading Online Loans Marketplace in India,949000.0,2018.0,NaN,NaN,NaN
3,PayMe India,Financial Services,Angel,Noida,PayMe India is an innovative FinTech organizat...,2000000.0,2018.0,NaN,NaN,NaN
4,Eunimart,E-Commerce Platforms,Seed,Hyderabad,Eunimart is a one stop solution for merchants ...,NaN,2018.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2872,Gigforce,Staffing & Recruiting,Pre-series A,Gurugram,A gig/on-demand staffing company.,3000000.0,2021.0,2019.0,"Chirag Mittal, Anirudh Syal",Endiya Partners
2873,Vahdam,Food & Beverages,Series D,New Delhi,VAHDAM is among the world’s first vertically i...,20000000.0,2021.0,2015.0,Bala Sarda,IIFL AMC
2874,Leap Finance,Financial Services,Series C,Bangalore,International education loans for high potenti...,55000000.0,2021.0,2019.0,"Arnav Kumar, Vaibhav Singh",Owl Ventures
2875,CollegeDekho,EdTech,Series B,Gurugram,"Collegedekho.com is Student’s Partner, Friend ...",26000000.0,2021.0,2015.0,Ruchir Arora,"Winter Capital, ETS, Man Capital"
2876,WeRize,Financial Services,Series A,Bangalore,India’s first socially distributed full stack ...,8000000.0,2021.0,2019.0,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital"

In [137]:
new_data.head()

,Company/Brand,Sector,Stage,HeadQuarter,What it does,Amount($),Year of Funding,Founded,Founders,Investor
0,TheCollegeFever,Brand Marketing,Seed,Bangalore,"TheCollegeFever is a hub for fun, fiesta and f...",250000.0,2018.0,NaN,NaN,NaN
1,Happy Cow Dairy,Agriculture,Seed,Mumbai,A startup which aggregates milk from dairy far...,584000.0,2018.0,NaN,NaN,NaN
2,MyLoanCare,Credit,Series A,Gurgaon,Leading Online Loans Marketplace in India,949000.0,2018.0,NaN,NaN,NaN
3,PayMe India,Financial Services,Angel,Noida,PayMe India is an innovative FinTech organizat...,2000000.0,2018.0,NaN,NaN,NaN
4,Eunimart,E-Commerce Platforms,Seed,Hyderabad,Eunimart is a one stop solution for merchants ...,NaN,2018.0,NaN,NaN,NaN

In [138]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2877 entries, 0 to 2876
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Company/Brand    2877 non-null   object
 1   Sector           2877 non-null   object
 2   Stage            2876 non-null   object
 3   HeadQuarter      2783 non-null   object
 4   What it does     2877 non-null   object
 5   Amount($)        2727 non-null   float64
 6   Year of Funding  2788 non-null   float64
 7   Founded          2351 non-null   float64
 8   Founders         2351 non-null   object
 9   Investor         2289 non-null   object
dtypes: float64(3), object(7)
memory usage: 224.9+ KB

In [139]:
new_data.describe()

          Amount($)  Year of Funding      Founded
count  2.727000e+03      2788.000000  2351.000000
mean   1.108270e+08      2020.055595  2015.106536
std    3.170203e+09         1.088542    41.783849
min    0.000000e+00      2018.000000     0.000000
25%    8.000000e+05      2020.000000  2015.000000
50%    3.500000e+06      2020.000000  2016.000000
75%    2.300000e+07      2021.000000  2019.000000
max    1.500000e+11      2021.000000  2021.000000

In [140]:
new_data.shape

(2877, 10)

In [ ]:
new_data.isna().any()

Company/Brand      False
Sector             False
Stage               True
HeadQuarter         True
What it does       False
Amount($)           True
Year of Funding     True
Founded             True
Founders            True
Investor            True
dtype: bool

In [ ]:
new_data.isna().sum()

In [ ]:
new_data.columns

### WE NEED TO DIVIDE OUR DATA INTO TWO DATATYPES, THIS IS HELP US DEAL WITH THE MISSING VALUES USING SIMPLEIMPUTER

### THE NUMERICAL DATA AND THE CATEGORICAL DATA

In [ ]:
num_data = new_data.select_dtypes(exclude='object')

cat_data = new_data.select_dtypes(include='object')

In [ ]:
num_data

In [ ]:
num_cols = ['Amount($)','Year of Funding','Founded']

In [ ]:
cat_data

In [ ]:
cat_cols = ['Company/Brand','Sector','Stage','HeadQuarter','What it does','Founders','Investor']

In [ ]:
# WE SHALL BE USING "MEAN" AND "MOST_FRQUENT"

num_imputer = SimpleImputer(strategy = 'mean').fit(new_data[num_cols])

cat_imputer = SimpleImputer(strategy = 'most_frequent').fit(new_data[cat_cols])

In [ ]:
# APPLYING TRANSFORMATION

num_imputed = pd.DataFrame(num_imputer.transform(new_data[num_cols]), columns = num_cols)

cat_imputed = pd.DataFrame(cat_imputer.transform(new_data[cat_cols]), columns = cat_cols)

In [ ]:
num_imputed

In [ ]:
# splitting the "Founded" Column to leave only the years
num_imputed['Founded'] = num_imputed['Founded'].apply(str)

num_imputed['Founded'] = num_imputed['Founded'].str.split('.').str[0]

# converting to float datatype

num_imputed['Founded'] = pd.to_numeric(num_imputed['Founded'])

#num_imputed['Founded'] = num_imputed['Founded']'].apply(float)

In [ ]:
num_imputed

In [ ]:
# splitting the "Year of Funding" Column to leave only the years

num_imputed['Year of Funding'] = num_imputed['Year of Funding'].apply(str)

num_imputed['Year of Funding'] = num_imputed['Year of Funding'].str.split('.').str[0]

# converting to float datatype

num_imputed['Year of Funding'] = pd.to_numeric(num_imputed['Year of Funding'])

In [ ]:
num_imputed

In [ ]:
cat_imputed

In [ ]:
# JOINING THE TO TWO DATASET BY CONCATINATION

cleaned_new_data = pd.concat([num_imputed,cat_imputed], axis = 1)

In [ ]:
cleaned_new_data

In [ ]:
# DROPPING FOUNDERS AND INVESTORS COLUMNS

#cleaned_new_data.drop('Founders', axis = 1, inplace = True)

cleaned_new_data

In [ ]:
cleaned_new_data.drop('Investor', axis = 1, inplace = True)

In [ ]:
cleaned_new_data

In [ ]:
# Using the pd.set_option to take of the  Amount columns figures in exponential

#pd.options.display.float_format = '{:.0f}'.format

#pd.options('display.float_format', lambda x: '%.2f' % x)

pd.options.display.float_format = lambda x : '{:.0f}'.format(x) if round(x,0) == x else '{:,.2f}'.format(x)

In [ ]:
# ANALYSING THE CLEANED NEW DATASET

cleaned_new_data.describe()

In [ ]:
cleaned_new_data.isna().sum()

In [ ]:
cleaned_new_data.info()

In [ ]:
cleaned_new_data.head()

### UNIVARIATE ANALYSIS

In [ ]:
sns.distplot(cleaned_new_data.iloc[:50]['Year of Funding'], kde=False,color='black',bins=20)

#plt.show()

### MULTIVARIATE ANALYSIS

### We will try to see relations between continuous variables and the ‘Year of Funding’ column. To do that, we will plot a pair plot, with Hue as 'Year of Funding’.

In [ ]:
sns.pairplot(cleaned_new_data.iloc[:10][['Amount($)','Year of Funding','Founded']],
            hue = 'Year of Funding')

# Re-Calling our Hypothesis and Analytical Questions

###  HYPOTHESIS

### HO (Null): Year of Funding  is not dependent on the amount raised.

### H1(Alternative): Year of Funding  is dependent on the amount raised.

### ANALYTICAL QUESTIONS

### 1) What is the total amount raised by all the investors

### 2) Which sector has the highest amount invested.¶

### 3) Which year has the most start up founded.

### 4) Which Headquarters has the highest of funding.

### 5) Which Company has the highest amount invested on and what year?

### 6) What is the Maximum, Minimum and Average amount raised.

## HYPOTHESIS TESTING

In [ ]:
# OUR SIGNIFICANCE LEVEL IS 5%

# WE ARE USING T TEST

#perform two sample t-test

yr = cleaned_new_data['Year of Funding']
amt = cleaned_new_data['Amount($)']

t,p = stats.ttest_ind(a=yr, b=amt) 

print(f't-value: {t}')
print(f'p-value: {p}')

In [ ]:
print("p-value for significance is: ", p)
if p<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

In [ ]:
sns.histplot(data = cleaned_new_data.iloc[:10], x = 'Amount($)', hue = 'Year of Funding', kde = True )

### Since the p-value of the test (0.0541) is equal to or greater than .05, we accept the null hypothesis.

### This means we have sufficient evidence to say that the Year of Funding is not dependant on the Amount raised.

## ANALYSIS

### 1) What is the total amount raised by all the investors

In [ ]:
amount_total = cleaned_new_data['Amount($)'].sum()

print(f'The Total Amount Raised by all the investors is: {amount_total}')

In [ ]:
#cleaned_new_data['Amount($)'].sum()

### 2) Which sectors has the highest amount invested.

In [ ]:

Sectors_with_highest_amount = cleaned_new_data.groupby('Sector')['Amount($)'].sum().reset_index()

Sectors_with_highest_amount

In [ ]:
Sectors_with_highest_amount.sort_values(by="Amount($)", ascending= False)

Sectors_with_highest_amount.head(10)

In [ ]:
plt.figure(figsize=(12,10))

sns.barplot(y='Sector', x='Amount($)', data=Sectors_with_highest_amount.iloc[:10])

plt.title('Sectors with highest amount invested', fontsize=20)

plt.ylabel('Sector')

plt.xlabel('Amount($)')

plt.show()

In [ ]:
file_name = "Sectors_with_highest_amount.csv"

Sectors_with_highest_amount.to_csv(file_name)

### FinTech has the most amount, followed by EdTech and Financial Services

### 3) Which year has the most start up founded.

In [ ]:
year_most_funded = cleaned_new_data.groupby('Year of Funding')['Amount($)'].sum().reset_index()

year_most_funded

In [ ]:
 Year_most_funded = year_most_funded.sort_values(by="Amount($)", ascending= False)

 Year_most_funded

In [ ]:
plt.figure(figsize=(10,10))

sns.barplot(y='Year of Funding', x='Amount($)', data=Year_most_funded)

plt.title('Year_Most_Funded', fontsize=20)

plt.ylabel('Year of Funding')

plt.xlabel('Amount($)')

plt.show()

In [ ]:
file_name = "Year_most_funded.csv"

Year_most_funded.to_csv(file_name)

### 4) Which Headquarters has the highest  of funding.

In [ ]:
Hq_with_highest_amount = cleaned_new_data.groupby('HeadQuarter')['Amount($)'].sum().reset_index()

In [ ]:
Hqters_with_highest_amount = Hq_with_highest_amount.sort_values(by="Amount($)", ascending= False)

Hqters_with_highest_amount.head(15)

In [ ]:
plt.figure(figsize=(10,10))

sns.barplot(y='HeadQuarter', x='Amount($)', data=Hqters_with_highest_amount.iloc[:10])

plt.title('Headquarters That received the highest Amount', fontsize=20)

plt.ylabel('HeadQuarter')

plt.xlabel('Amount($)')

plt.show()

In [ ]:
file_name = "Hqters_with_highest_amount.csv"

Hqters_with_highest_amount.to_csv(file_name)

### 5) Which Company has the highest amount invested on and what year?

In [ ]:
comp_with_most_amt_invested_with_year = cleaned_new_data.groupby('Company/Brand')['Amount($)','Year of Funding'].sum().reset_index()

Coy_with_most_amt_invested_with_year = comp_with_most_amt_invested_with_year.sort_values(by="Amount($)", ascending= False)

Coy_with_most_amt_invested_with_year

In [ ]:
Coy_with_most_amt_invested_with_year.head(4)

In [ ]:
plt.figure(figsize=(10,10))

sns.barplot(y='Company/Brand', x='Amount($)', data = Coy_with_most_amt_invested_with_year.iloc[:10])

plt.title('Company/Brand That received the highest Amount', fontsize=20)

plt.ylabel('Company/Brand')

plt.xlabel('Amount($)')

plt.show()

In [ ]:
file_name = "Coy_with_most_amt_invested_with_year.csv"

Coy_with_most_amt_invested_with_year.to_csv(file_name)

In [ ]:
cleaned_new_data

In [ ]:
file_name = "cleaned_new_data.csv"

cleaned_new_data.to_csv(file_name)

In [ ]:
#Coy_with_most_amt_invested_with_year.iloc[:10]